<!-- Main menu Html code for the main page of the app-->

<ion-tabs>
	<ion-tab-bar slot="bottom">

		<!-- Creation of the button Episodes, on click it redirects to the list of episodes-->
		<ion-tab-button tab="episodes">
			<ion-icon name="film-outline"></ion-icon>
			<ion-label>Episodes</ion-label>

			<!-- Creation of the button Characters, on click it redirects to list the characters available -->
		</ion-tab-button>
		<ion-tab-button tab="characters">
			<ion-icon name="people-circle-outline"></ion-icon>
			<ion-label>Characters</ion-label>

			<!-- Creation of the button Quotes, on click it redirects to the Quotes page where a list of couts is available-->
		</ion-tab-button>
		<ion-tab-button tab="quotes">
			<ion-icon name="receipt-outline"></ion-icon>
			<ion-label>Quotes</ion-label>

			<!-- Creation of the button deaths, on click it redirects to the Deaths page -->
		</ion-tab-button>
		<ion-tab-button tab="deaths">
			<ion-icon name="sad-outline"></ion-icon>
			<ion-label>Deaths</ion-label>

		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>