<!--   Title:  Week 7: Storing Data inside Ionic Apps
      Author: Mikhail Timofeev
     Date: 30/March/2020
     Availability: https://mikhail-cct.github.io/mobdev/wk7/#/13
     -->


<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters">
			</ion-back-button>

			<ion-title>Character Details</ion-title>

<!-- Button with the fuction to mark a character as favourite, by default is false and if click
the button will indicate that the character is liked -->
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
				<ion-icon name="thumbs-down-outline"></ion-icon>
			</ion-button>

            <!--If the character is marked as favourite and click on this button
            the character will get marked as unfavourite  -->
			<ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
				<ion-icon name="thumbs-up-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<!--Content of the page, it will show the character details as 
Nickname, name, birthday, occupation, status and a picture of it, the 
*ngIf indicates that this data will be showed id a character element is found  -->
<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-list *ngIf="character">
				<ion-item>
					<ion-avatar>
						<img src="{{character.img}}">
                          </ion-avatar>
						<h2>{{character.name}}</h2>
				</ion-item>

				<ion-item>
					<ion-label> Nickname </ion-label>
					<label> {{character.nickname}}</label>
				</ion-item>

				<ion-item>
					<ion-label> Birthday </ion-label>
					<label> {{character.birthday}}</label>
				</ion-item>

				<ion-item>
					<ion-label> Occupation </ion-label>
					<label> {{character.occupation}}</label>
				</ion-item>


				<ion-item>
					<ion-label> Status </ion-label>
					<label> {{character.status}}</label>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>


